<div class="section bg--grey-lightest">
  <div class="row row--padding">


    <div class="row text--center">
      <h2 class="title title--xl title--italic">Enjoy the unexpected</h2>
      <hr class="hr--center">
    </div>


    {% assign expert = site.data.experts | where: 'id', page.expert %}
    {% assign expert = expert[0] %}
    <div class="row row--5-7-gutters expert">
      <div class="col">
        <div class="boxpad--md bg--white expert__profile">
          <div class="expert__avatar">
            <div class="bg-img bg-img--circle" style="background-image: url('{{site.baseurl}}/img/content/{{page.id}}/expert.jpg');"></div>
          </div>
          <div class="space--sm"></div>
          <div class="h3 title title--sm title--italic title--bolder">{{expert.title}}</div>
          <h3 class="title title--xxxxs title--bolder title--sub title--upper title--kerning">{{expert.occupation}}</h3>
          <p>{{expert.profile}}</p>
        </div>
      </div>
      <div class="col">
        {{expert.story}}
      </div>
    </div>

  </div>
</div>