.title {
  font-family: $font-family-headline-02;
  font-weight: 200;
  font-style: italic;
  line-height: 1.36;
  letter-spacing: .037em;
  // proper typeface weight rendering
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
           font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  /////////////////////////////////////
  &--banner {
    font-family: $font-family-headline-01;
    font-style: normal;
    letter-spacing: 0;
    line-height: .66;
  }
  &--banner-sub {
    font-style: normal;
    font-size: $s3;
    text-transform: uppercase;
    letter-spacing: .33em;
    padding-top: $s0;
    padding-bottom: $s0;
  }
  &--display {

    // letter-spacing: 0.175em;
    // text-transform: uppercase;
    // font-weight: 200;
  }

  &--core {
    font-family: $font-family;
    font-style: normal;
    font-weight: 200;
    line-height: 1.25;
    letter-spacing: .0125em;
  }

  & + *         { padding-top: .75em !important; }
  &--banner     { padding-top: 0 !important; }
  &--banner-sub { padding-top: $s-1 !important; }
  &--sub        { padding-top: 0 !important; }
  &--super + *  { padding-top: 0 !important; }
  &--light      { font-weight: 200; }
  &--bold       { font-weight: 500; }
  &--bolder     { font-weight: 600; }
  &--kerning    { letter-spacing: .25em; }
  &--kerning-lg { letter-spacing: .5em; }
  &--tight      { line-height: .9; }
  &--tighter    { line-height: .8; }
  &--capital    { text-transform: capitalize; }
  &--upper      { text-transform: uppercase; }
  &--italic     { font-style: italic; }

  &--banner-lg    { font-size: $s13; }
  &--banner-md    { font-size: $s12; }
  &--banner-sm    { font-size: $s11; }

  &--display-size { font-size: $s9; }
  &--xxxxxl       { font-size: $s7; }
  &--xxxxl        { font-size: $s7; }
  &--xxxl         { font-size: $s7; }
  &--xxl          { font-size: $s6; }
  &--xl           { font-size: $s5; }
  &--lg           { font-size: $s4; }
  &--md           { font-size: $s3; }
  &--sm           { font-size: $s2; }
  &--xs           { font-size: $s1; }
  &--xxs          { font-size: $s0; }
  &--xxxs         { font-size: $s-1; }

  @include bp(md){
    &--display-size { font-size: $s11; }
    &--xxxxxl       { font-size: $s10; }
    &--xxxxl        { font-size: $s9; }
    &--xxxl         { font-size: $s8; }
    &--xxl          { font-size: $s7; }
    &--xl           { font-size: $s6; }
    &--lg           { font-size: $s5; }
    &--md           { font-size: $s4; }
    &--sm           { font-size: $s3; }
  }
  @include bp(lg){
    &--display-size { font-size: $s13; }
    &--xxxxxl       { font-size: $s12; }
    &--xxxxl        { font-size: $s10; }
    &--xxxl         { font-size: $s9; }
    &--xxl          { font-size: $s8; }
    &--xl           { font-size: $s7; }
    &--lg           { font-size: $s6; }
    &--md           { font-size: $s5; }
    &--sm           { font-size: $s4; }
    &--xs           { font-size: $s3; }
    &--xxs          { font-size: $s2; }
    &--xxxs         { font-size: $s1; }
  }
}