// general styles for the project that wouldn't be a reuseable component

body {
  background-color: $p-beige-light;
}

.bg {
  &--white         { background-color: $white;}
  &--grey          { background-color: $grey-lightest; }
  &--beige         { background-color: $p-beige; }
  // &--paper         {
  //   background-image: url('../img/bg/paper.jpg');
  //   background-size: cover;
  // }
  &--art-promo {
    background-color: $grey-dark;
    background-image: url('../img/bg/art-promo.jpg');
    @include background-attributes;
  }
  &--offer-promo {
    background-color: $grey-dark;
    background-image: url('../img/bg/offer-promo.jpg');
    @include background-attributes;
  }

  &--rounded { border-radius: 4px; overflow: hidden; }

  &__fixed {
    position: relative;
    background-color: rgba($white,.85);
    & * { z-index: $z-content; }
    &-wrap {
      position: absolute;
      top: 0;
      left: 0;
      z-index: $z-background;
      width: 100%;
      height: 100%;
      .svgclippaths & { clip: rect(0, auto, auto, 0); }
    }
    &-img {
      position: absolute;
      z-index: $z-background;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: 180%;
      background-position: center top;
      background-repeat: no-repeat;
      background-attachment: fixed;
      .svgclippaths & {
        position: fixed;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        transform: translateZ(0);
        will-change: transform;
      }
    }
  }

}



.avatar {
  max-width: 200px;
  margin-top: -6em;
}



.poi {
  @include layout(12 1);
  & + & { margin-top: $s4; }

  &__image {
    max-width: $lg;
    margin-left: auto;
    margin-right: auto;
  }
  &__text { padding-top: $s2; }

  @include bp(xxl){

    & + & { margin-top: gutter(12); }
    .flexbox & {
      display: flex;
      align-items: center;
    }

    &__image { @include span(6.5); }
    &__text {
      @include span(5.5 last);
      padding-top: 0;
    }

    &--swap{
      .poi__image { @include span(6.5 last); }
      .poi__text { @include span(5.5); }
      .flexbox & {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
      }
    }

  }
}




.competition-bg {
  background-color: $p-purple-dark;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-background;
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include background-attributes;
  }
}

.prize {
  @include transition;
  box-shadow: 0;
  &:hover {
    transform: scale(1.025);
    @include shadow;
  }
}


