// the title banner that appears at the top of every page. sometimes animated bgs

.banner {
  position: relative;
  display: table;
  width: 100%;
  height: 80%;
  min-height: 500px;
  text-align: center;
  color: white;
  &__content {
    display: table-cell;
    vertical-align: middle;
    padding-top:    $core-nav-height-sm;
    padding-bottom: $site-nav-height-sm;
    @include bp(md){
      padding-top:    $core-nav-height;
      padding-bottom: $site-nav-height;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background;
    background-color: $grey-dark;
    @include background-attributes;
  }
  &__nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-overlay;
    @include transition;
  }
  &__feel {
    background-image: url('../img/logo/feel.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 270px;
    width: 60%;
    margin: auto;
    margin-top: 2em;
    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 15.6%;
    }
  }
}



.banner--competition {
  &.banner {
    height: 70%;
  }
  & .banner__nav {
    bottom: auto;
    top: $core-nav-height-sm;
    @include bp(md){
      top: $core-nav-height;
    }
    & .site-nav {
      padding-top: 0;
      background-image: url("../img/nav-bg-invert.png");
    }
  }

  & .banner__content {
    padding-top: $core-nav-height-sm*2;
    padding-bottom: 0;
    @include bp(md){
      padding-top: $core-nav-height*2;
      padding-bottom: 0;
    }
  }
}