<div class="vpad--xxxl bg--offer-promo text--white">
  <div class="row row--padding">
    <div class="row row--xl text--center">
      <h3 class="title title--banner-sub">Experience</h3>
      <h2 class="title  title--banner title--banner-sm">The art of living</h2>
      <p class="text--xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto non distinctio similique nobis corporis architecto.</p>
      <!-- the nbsp's are super hacky, adds a bit of space and still stays center on mobile -->
      <a href="{{site.baseurl}}/offers" class="btn btn--white-outline">View Provence Offers</a>
    </div>
  </div>
</div>