<div class="vpad--xxxl bg--offer-promo">
  <div class="row row--padding">
    <div class="row row--xl text--center text--white">
      <h3 class="title title--banner-sub">Experience</h3>
      <h2 class="title  title--banner title--banner-sm">The art of living</h2>
      <div class="space--xs"></div>
      <p class="text--xl">Choose from hand-picked hotels to enjoy a luxurious getaway in this remarkable region</p>
      <a href="{{site.baseurl}}/offers" class="btn btn--purple">View Provence Offers</a>
    </div>
  </div>
</div>