---
layout: default
---




<div class="banner banner--competition">
  <div class="banner__content">
    <div class="row title-bg text--white">
      {% if page.banner.content %}
        {{page.banner.content | liquify}}
      {% else %}
        {% if page.banner.title-super %}<div class="title title--banner-sub">{{page.banner.title-super}}</div>{% endif %}
          {% if page.banner.title %}
          <h1 class="title title--banner title--banner-lg">{{page.banner.title}}
          {% else %}
          <h1 class="title title--banner title--banner-lg">{{page.title}}
          {% endif %}</h1>
        {% if page.banner.title-sub %}<div class="title title--banner-sub">{{page.banner.title-sub}}</div>{% endif %}
      {% endif %}
    </div>
  </div>
  <div class="banner__nav">
    {% include nav/microsite-nav.html %}
  </div>
</div>

<div class="competition-bg">
  <div class="competition-bg__img js-bg-fade" style="background-image: url({{site.baseurl}}/img/bg/{{page.id}}.jpg);"></div>
</div>




<div class="page__content">

  {{ content }}

</div>



