---
layout: default
---

{% if page.youtube-id %}
  {% include page/banner-video.html %}
{% else %}
  {% include page/banner.html %}
{% endif %}

<div class="page__content">

  <div class="section">
    <div class="row row--padding row--xl text--center">
      {{page.intro}}
      <a href="{{site.baseurl}}" class="btn btn--purple">View Provence offers</a>
    </div>
  </div>

  {% if page.expert %}
    {% include page/expert-section.html %}
  {% endif %}

  {% for section in page.sections %}
    <div class="section{% cycle ' bg--white', '' %}">

      <div class="row row--xxl row--padding text--center">
        <h2 class="title title--xl title--italic">{{section.title}}</h2>
        <p class="text--xl">{{section.description}}</p>
        <div class="space--xs"></div>
        <hr class="hr--center">
        <div class="space--xs"></div>
      </div>

      <div class="row row--xxl row--padding">
      {% for highlight in section.highlights %}
        <div class="poi{% cycle '',' poi--swap' %}">

          <div class="poi__image">
            <div class="bg-img bg-img--16-9 bg-img--xxl-4-3" style="background-image: url({{site.baseurl}}/img/content/{{page.id}}/{{highlight.id}}.jpg);"></div>
          </div>

          <div class="poi__text">
            <h2 class="title title--sm title--bold">{{highlight.title}}</h2>
            <p>{{highlight.description}}</p>
          </div>

        </div>
      {% endfor %}

      </div>

      {% if forloop.last %}
        <div class="row text--center">
          <a href="{{page.fr-link}}" id="tracking-fr-btn" class="btn btn--purple">Learn more about Provence on france.fr</a>
        </div>
      {% endif %}

    </div>
  {% endfor %}

  {% include components/offer-promo.html %}

</div>