---
layout: standard
---

<div class="section">
  <div class="row row--padding row--xl text--center">
    {{page.intro}}
  </div>
</div>


{% assign group-pages = site.html_pages | where: 'group', 'art'  %}
{% for page in group-pages %}
  <div class="vpad--xxxl bg__fixed">
    <div class="bg__fixed-wrap">
      <div class="bg__fixed-img" style="background-image: url('{{site.baseurl}}/img/bg/{{page.id}}.jpg');"></div>
    </div>
    <div class="row row--6-6 row--valign row--reverse">

      <div class="col row--padding">
        {% if page.youtube-id %}
          <div class="video js-youtube-thumbnail" data-thumbnail-img="{{site.baseurl}}/img/img.jpg">
            <iframe class="video__iframe" src='https://www.youtube.com/embed/{{page.youtube-id}}?rel=0&amp;showinfo=0' frameborder='0' allowfullscreen="allowfullscreen"></iframe>
          </div>
        {% else %}
          <a href="{{site.baseurl}}{{page.url}}" class="bg-img bg-img--16-9 bg-img--lg-3-4 bg-img--xl-1-1 bg-img--xxxl-4-3 bg-img--shadow" style="background-image: url({{site.baseurl}}/img/content/overview/{{page.id}}.jpg);"></a>
        {% endif %}
      </div>

      <div class="col">
        <div class="row row--padding">
          <h2 class="title title--banner title--banner-sm">{{page.title}}</h2>
          <div class="space--sm"></div>
          {{page.intro}}
          <a href="{{site.baseurl}}{{page.url}}" class="btn btn--purple">Read More</a>
        </div>
      </div>

    </div>
  </div>
{% endfor %}


{% include components/offer-promo.html %}