---
layout: standard
id: offers
nav-order: 3
title: Offers
intro: >
  <p class="text--xl">Choose from hand-picked hotels to enjoy a luxurious getaway in this remarkable region.</p>
  <p class="text--xl">Getting here is easy. Flights leave from across the UK flying weekly to Marseille, Toulon-Hyères and Avignon. Choose a package with Secret Escapes or simply add flights to your hotel-only booking. Pick your perfect break below!</p>

---

<div class="section bg--grey-lightest">
  <div class="row row--padding row--xl text--center">
    {{page.intro}}
  </div>
</div>

{% include components/offers.html %}

{% include components/se-promo.html %}